body {
      Background: linear-gradient(Black, white);
width: 87%;
margin: 50px auto;
font: 1em times new roman;
  background-image: url(https://wallpapers.com/images/featured/cool-skull-pictures-oi8h4846tbciuosj.jpg);
  background-repeat:repeat-5;
}
H1{
  color: aquamarine;
  margin: 50px
}
p{
  color: orange;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
  /*Esto es lo de la fuente*/
}

}
.primerp{
  Color: blue
}
a:hover{
  color: orange
  
}
a{
  text-decoration: none;
}